<div class="col-sm-12 col-md-6 reservoir-container well col-centered">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">
      <h3 class="panel-title">My Reservoirs</h3>
    </div>

    <!-- Table -->
      <table class="table">
        <% if !@user.stats.empty? %>
          <tr id="reservoir-table-header">
        <% else %>
          <tr id="reservoir-table-header" style="display: none">
        <% end %>
            <th>Name</th>
            <th>Storage</th>
            <th>Capacity</th>
            <th>% Capacity</th>
            <th>Min. %</th>
            <th>Max. %</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        <% @user.stats.each do |stat| %>
        <tr>
          <td><%= stat.reservoir.name %></td>
          <td><%= stat.reservoir.storage %></td>
          <td><%= stat.reservoir.capacity %></td>
          <td><%= stat.reservoir.percent_capacity %></td>
          <td><%= stat.min %></td>
          <td><%= stat.max %></td>
          <td>
            <%= link_to "Edit", edit_stat_path(stat), :class => "btn btn-info" %>
          </td>
          <td>
            <%= link_to("Delete", stat_path(stat), :class => "btn btn-danger", method: :delete) %>
          </td>
        </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>
