<h1 id='user-header'>My Reservoirs</h1>

<div class="reservoir-container">
  <table class="reservoir-list">
  <% if !@user.stats.empty? %>
    <tr id="reservoir-table-header">
  <% else %>
    <tr id="reservoir-table-header" style="display: none">
  <% end %>
      <th>Name</th>
      <th>Storage</th>
      <th>Capacity</th>
      <th>% Capacity</th>
      <th>Min. %</th>
      <th>Max. %</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  <% @user.stats.each do |stat| %>
  <tr>
    <td><%= stat.reservoir.name %></td>
    <td><%= stat.reservoir.storage %></td>
    <td><%= stat.reservoir.capacity %></td>
    <td><%= stat.reservoir.percent_capacity %></td>
    <td><%= stat.min %></td>
    <td><%= stat.max %></td>
    <td>
      <form action="/reservoirs/<%= stat.reservoir.id %>/edit" method="GET">
        <input type="Submit" value="Edit">
      </form>
    </td>
    <td>
      <form action="/reservoirs/<%= stat.reservoir.id %>" method="POST">
        <input type='hidden' name='_method' value='DELETE'>
        <input type="Submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
  </table>
</div>

